<!DOCTYPE html>
<html>
  <head>
    <title>
      about CMB softwares
    </title>
    {% include 'bootstrap.html'%}
  </head>
  <body background={{url_for('static',filename='5153829.jpg')}}>
<div class="container">
    <h1 class="text-center mt-2 mb-4">CMB SOFTWARES </h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
    <p class="lead ">
      This is a company that has started early last year and has managed to serve many people building most of the cutting edge technological software and even managing the softwares for the people this has helped us to grow as a company. Our goal is to provide many people with the best software and watching bussinesses grow and succeed. The company started with three graduates from the university who graduated in the year 2020 with a bachelors of science in applied computer technology.  
    </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/gratia.jpeg" style="height:220px;border-radius:16px;">
        </div>
        <hr>
        </div>
    
<div class="container">
  <h1 class="text-center mt-2 mb-4">THE TEAM </h1>
  <div class="row" style="margin-bottom:16px">
    <div class="col-md-6">
      <p class="lead">
        The team has grown from three people who were the CEO, the managing director in finance, and the managing director in all operations who was also the head of all engineers to a big team of 200 software engineers and various teams such as a marketing team, operations team, finance team, and also UX designers. Our team is a well-dedicated team always looking forward to doing all customer instructions ensuring utmost customer satisfaction. 
      </p>
    </div>
    <div class="col-md-6">
      <img src="/static/gratia.jpeg" style="height:220px;border-radius:16px;">
    </div>
  </div>
  <hr/>
</div>

<div class="container">
  <h1 class="text-center mt-2 mb-4">OUR HISTORY </h1>
  <div class="row" style="margin-bottom:16px">
    <div class="col-md-6">
      <p class="lead">
        This is a company that has started early last year and has managed to serve many people building most of the cutting edge technological software and even managing the softwares for the people this has helped us to grow as a company. Our goal is to provide many people with the best software and watching bussinesses grow and succeed. The company started with three graduates from the university who graduated in the year 2020 with a bachelors of science in applied computer technology. 
      </p>
    </div>
    <div class="col-md-6">
      <img src="/static/gratia.jpeg" style="height:220px;border-radius:16px;">
    </div>
  </div>
  <hr/>
</div>

  <div class="container">
  <h1 class="text-center mt-2 mb-4">HOW TO CONTACT US</h1>
  <div class="row" style="margin-bottom:16px">
    <div class="col-md-6">
      <p class="lead">
        Below is our social media platforms and the various ways in which you can contact us once you contact us our customer service team will recieve your message or call and they will begin by recieving your order and if needed he will connect you with our uix designer who will help you choose how you want your software to look and after that your software will start to be processed and we will constantly inform you of where your project is so far and inform you once your software is ready to be handed to you. There after we can agree on the maintainance cost and all the necessesary proceedings after that. Please check below on how you can contact us for any questions or querries.  
      </p>
    </div>
    <div class="col-md-6">
      <img src="/static/gratia.jpeg" style="height:220px;border-radius:16px;">
    </div>
  </div>
  <hr/>
</div>
<div class="text-center">
    <a href="mailto:cmbsoftwares@gmail.com?subject=Question%20or%20Query%20about%20CMB%20SOFTWARES&body=%3Cyour%20question%20or%20query%3E"class="btn btn-primary btn-lg">Contact Us </a>
    </div>
    {% include 'footer.html' %}
</body>
</html>