<!DOCTYPE html>
<html>
  <head>
    <title>
      about CMB softwares
    </title>
    {% include 'bootstrap.html'%}
  </head<div class="container">
  <h1 class="text-center mt-2 mb-4">SOME HISTORY </h1>
  <div class="row" style="margin-bottom:16px">
    <div class="col-md-">
      <p class="lead">
        This is a company that has started early last year and has managed to serve many people building most of the cutting edge technological software and even managing the softwares for the people this has helped us to grow as a company. Our goal is to provide many people with the best software and watching bussinesses grow and succeed. The company started with three graduates from the university who graduated in the year 2020 with a bachelors of science in applied computer technology. 
      </p>
    </div>
  </div>
</div>
    <div class="d-none d-md-block col-md-6">
      <img src="/static/gratia.jpeg" style="height:220px;border-radius:16px;">
    <hr />
    </div>
    
<div class="container">
  <h1 class="text-center mt-2 mb-4">THE TEAM </h1>
  <div class="row" style="margin-bottom:16px">
    <div class="col-md-6">
      <p class="lead">
        The team has grown from three people who were the CEO the managing director in finance and the managing director in all operations who was also the head of all engineeres to a big team of 200 software engineeres and various teams such as marketing team, operations team, finance team and also ux designers. Our team is a well dedicated team always looking forward to doing all customer instructions ensuring atmost customer satisfaction. 
      </p>
    </div>
  </div>
</div>
    <div class="d-none d-md-block col-md-6">
      <img src="/static/gratia.jpeg" style="height:220px;border-radius:16px;">
    <hr />
    </div><div class="d-none d-md-block col-md-6">
      <img src="/static/gratia.jpeg" style="height:220px;border-radius:16px;">
    </div>
>
</html>